<html>
    <head>
	<title>Django Girls blog</title>
    </head>
    <body>
	<div>
	    <a href="https://tutorial.djangogirls.org/es/"> link Django Girls Blog</a>
	    <h1>Django Girls Blog</h1>
	</div>
	

	<div>
	    <p>publicado: 02.09.2017, 16:25</p>
	    <h2>Michael Jackson</h2>
	    <a href="https://michaeljackson.com/">link Michael Jackson</a>
	    <p>Michael Joseph Jackson (Gary, Indiana, 29 de agosto de 1958-Los Ángeles, California, 25 de junio de 2009) fue un cantante estadounidense, compositor, productor discográfico, bailarín, actor y filántropo. Llamado el «Rey del Pop»,​ sus contribuciones a la música, la danza y la moda, junto con su vida personal publicitada lo convirtió en una figura mundial en la cultura popular durante más de cuatro décadas. Varios autores lo reconocen como la estrella de música pop más exitosa en el mundo. Sin embargo, su música incluyó una amplia acepción de subgéneros como el rhythm & blues (soul y funk), rock, disco y dance</p>
	</div>

	<div>
	    <p>puclicado: 02.09.2017, 16:29</p>
	    <h2>Elvis Presley</h2>
	    <a href="http://www.elvis.com/">link Elvis Presley</a>
	    <p>Elvis Aron Presleynota (Tupelo, Misisipi, 8 de enero de 1935-Memphis, Tennessee, 16 de agosto de 1977) fue un cantante y actor estadounidense considerado de los más populares del siglo XX, considerado como un icono cultural y conocido ampliamente bajo su nombre de pila, Elvis. Se hace referencia a él frecuentemente como «el Rey del rock and roll» o simplemente «el Rey».

Nació en Tupelo, Mississipi, pero cuando tenía 13 años se mudó junto a su familia a Memphis, Tennessee donde, en 1954, comenzó su carrera artística cuando Sam Phillips, el dueño de Sun Records, vio en él la manera de expandir la música afroamericana. Acompañado por el guitarrista Scotty Moore y el contrabajista Bill Black, fue uno de los creadores del rockabilly, un estilo de tempo rápido impulsado por un constante ritmo que consiste en una fusión de música country y rhythm and blues.</p>
	</div>

    </body>
</html>
